[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yurii Malyi (YuriiMalyi)
[access "refs/for/refs/*"]
	read = group user/Yurii Malyi (YuriiMalyi)
	push = group user/Yurii Malyi (YuriiMalyi)
	label-Code-Review = -2..+2 group user/Yurii Malyi (YuriiMalyi)
	label-Verified = -1..+1 group user/Yurii Malyi (YuriiMalyi)
	rebase = group user/Yurii Malyi (YuriiMalyi)
	removeReviewer = group user/Yurii Malyi (YuriiMalyi)
	submit = group user/Yurii Malyi (YuriiMalyi)
[access "refs/heads/*"]
	read = group user/Yurii Malyi (YuriiMalyi)
	create = group user/Yurii Malyi (YuriiMalyi)
	push = +force group user/Yurii Malyi (YuriiMalyi)
	pushMerge = group user/Yurii Malyi (YuriiMalyi)
[access "refs/tags/*"]
	push = group user/Yurii Malyi (YuriiMalyi)
	push = +force group user/Yurii Malyi (YuriiMalyi)
